
 .navbar-default {
    background-color: #00050B;
    color: #6E81A3;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Electrolize', sans-serif;
    font-size: 22px;
  }

  .jumbotron{
    background-color: #6E81A3;
    color: #00050B;
  }
  .img-circle{
    border-color: #F2EFDF;
    border-width: 100px;
  }
  .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 40px;

  }